<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/form.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
        <title>Makers Hub</title>
    </head>
    <body>
        <%- include('../common/navigation.ejs') %>
        <main>
        <form method="POST" id="form">
            <fieldset>
                <legend>
                    <%= login.title %>
                    <i class="fa-regular fa-message"></i>
                </legend>
                <p><%= login.message %></p>
                <% if (typeof errorMessage !== 'undefined') { %>
                    <p class="error"><%= errorMessage %></p>
                <% } %>
                <input id="identifier" type="text" name="identifier" placeholder="<%= login.identifierPlaceholder %>" required>
                <input id="password" type="password" name="password" placeholder="<%= login.passwordPlaceholder %>" required>
                <button id="submit">
                    <%= login.submit %>
                    <i class="fa-regular fa-paper-plane"></i>
                </button>
                <a href="/users/resetPassword"><%= login.forgotPassword %></a>
                <p id="signup"><%= login.account %></p>
                <a href="/users/signup"><%= login.signup %></a>
            </fieldset>
        </form>
        </main>
        <%- include('../common/footer.ejs') %>
    </body>
</html>