<header>
  <nav>
    <div class="hamburger-container">
      <button id="hamburgerBtn" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="navBar">
      <ul class="nav">
        <li><a href="/" class="make-connect"><%= navigation.mainAnchor1 %></a></li>
        <% if (!loggedIn) { %>
          <li><a href="/users/login"><%= navigation.mainAnchor2 %></a></li>
          <li><a href="/users/signup"><%= navigation.mainAnchor3 %></a></li>
        <% } else { %>
          <li><a href="/jobs"><%= navigation.mainAnchor4 %></a></li>
          <li><a href="/workshops"><%= navigation.mainAnchor5 %></a></li>
          <li><a href="/volunteering"><%= navigation.mainAnchor6 %></a></li>
          <li><a href="/profile"><%= navigation.mainAnchor7 %></a></li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>

<script src="/js/hamburger.js" defer></script>
