<header>
    <nav>
        <ul id="navBar">
            <li class="nav"><a href="/"><%= navigation.mainAnchor1 %></a></li>
            <% if (!loggedIn) { %>
                <li class="nav"><a href="/users/login"><%= navigation.mainAnchor2 %></a></li>
                <li class="nav"><a href="/users/signup"><%= navigation.mainAnchor3 %></a></li>
            <% } else { %>
                <li class="nav"><a href="/jobs"><%= navigation.mainAnchor4 %></a></li>
                <li class="nav"><a href="/workshops"><%= navigation.mainAnchor5 %></a></li>
                <li class="nav"><a href="/volunteering"><%= navigation.mainAnchor6 %></a></li>
                <li class="nav"><a href="/profile"><%= navigation.mainAnchor7 %></a></li>
            <% } %> 
        </ul>
    </nav>
</header>